<md-toolbar layout="row" class="">
    <div class="md-toolbar-tools">
        <h1>Open Membership System</h1>
    </div>
</md-toolbar>
<md-content layout="row">
    <section layout="row" layout-align="start center" layout-wrap flex>
      <md-button ui-sref="dashboard" ui-sref-active="md-primary"><md-icon> home </md-icon> Overview</md-button>
      <md-button ui-sref="reservations" ui-sref-active="md-primary"><md-icon> book </md-icon> Reservations</md-button>
      <md-button ui-sref="subscriptions" ui-sref-active="md-primary"><md-icon> credit_card </md-icon> Subscriptions</md-button>
      <md-button ui-sref="shop" ui-sref-active="md-primary"><md-icon> shop </md-icon> Shop</md-button>
      <md-button ui-sref="profile" ui-sref-active="md-primary"><md-icon> face </md-icon> Profile</md-button>
    </section>
    <section  layout="row"  layout-align="end center" layout-wrap flex="10">
      <md-button class="md-accent"><md-icon> <i class="material-icons">shopping_cart</i> </md-icon> (1 item)</md-button>
    </section>
</md-content>
